* {
    box-sizing: border-box;
  }
  

  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: 2d3142;
  }
  
  main {
    padding: 1rem;
  }
  
  h1 {
    font-weight: bold;
    font-size: 5rem;
    color:#2d3142;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  h2 {
    font-weight: bold;
    font-size: 3rem;
    color:#2d3142;
    text-align: center;
    margin: 4rem;
  }


  form.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #2d3142;
    border-radius: 10px;
    font-size: 2rem;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #2d3142;
    border-radius: 5px;
  }
  
 button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #4f5275;
  border-radius: 10px;
  color: #ffffff;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #ef8354;
}

div

{
  gap: 50px;
    justify-content: space-between;
  align-items: center;
  padding:2rem,
 
}

